*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid, html{
    background-color: rgb(120, 120, 190);
}
.container-fluid{
    margin-top: 50px;
    text-align: center;
}

input {

    padding: 10px;
    background-color: rgb(203, 203, 255);
    border: 0;
}

.numero{
    margin: 5px;
    width: 20%;
}
#result {
    width: 93%;
    margin: 5px;
}
.uguale{
    width: 93%;
    margin: 5px;
}

@media only screen and (max-width: 393px) {
    #result {
        width: 94%;

    }

    .uguale{
        width: 94%;
    }

    .container-fluid{
        margin-top: 40px;
    }
  }

  @media only screen and (max-width: 425px) {
    #result {
        width: 96%;

    }

    .uguale{
        width: 96%;
    }

    .container-fluid{
        margin-top: 40px;
    }
  }

  @media only screen and (max-width: 904px) {
    #result {
        width: 95%;

    }

    .uguale{
        width: 95%;
    }

    .container-fluid{
        margin-top: 40px;
    }
  }